<% provide(:title, 'About') %>
<h1>About Every Day</h1>
<p>Every Day is a to do list for the things you want to do every day. It's made by <a href="https://github.com/bhritchie">Brendan Ritchie.</a></p>
