<% provide(:title, 'Home') %>
<div class="center jumbotron">
  <h1>Every Day</h1>
  <h2>A to do list for the things you want to do every day.</h2>
  <%= link_to "Create Account", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
